<div class="container" id="naviBar">
    <div class="row justify-content-center">
        <div class="col-9">
            <% IF !session.user %>
                <div class="text-end">
                    <button type="button" class="btn btn-primary rounded-pill bg-dark border-0" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</button>
                </div>
                <div>
                    <% INCLUDE 'user/login.tt' %>
                </div>
            <% ELSE %>
                <div class="text-end">
                    <a class="btn btn-primary rounded-pill bg-white border-dark text-dark" href="/write" role="button">새글작성</a> 
                    <button type="button" class="btn btn-secondary dropdown-toggle rounded-pill" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end mt-3">
                        <li>
                            <button class="dropdown-item" type="button">
                                <a href="/">홈으로</a>
                            </button>
                            <button class="dropdown-item" type="button">
                                <a href="/user/settings">설정</a> 
                            </button>
                            <button class="dropdown-item" type="button">
                                <a href="/user/logout">로그아웃</a> 
                            </button>
                        </li>
                    </ul>
                </div>
            <% END %>
            <input type="hidden" id="siteKey" value="<% settings.grecaptcha.site_key %>">
            <input type="hidden" id="grecaptcha">
        </div>
    </div>
</div>
<script defer src="/js/external/all.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=<% settings.grecaptcha.site_key %>"></script>
