<!DOCTYPE html>
<html lang="ko">
<head>
    <title><% title %></title>
    <meta name="description" content="<% description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta charset="<% settings.charset %>">

    <!-- SEO Setting -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<% title %>">
    <meta property="og:description" content="<% description %>">
    <!-- <meta property="og:image" content=""> -->
    <!-- <meta property="og:url" content=""> -->

    <meta property="twitter:title" content="<% title %>">
    <meta property="twitter:description" content="<% description %>">
    <!-- <meta property="twitter:card" content=""> -->
    <!-- <meta property="twitter:image" content=""> -->

    <!-- StyleSheet -->
    <link rel="stylesheet" href="/css/external/bootstrap.min.css">
    <link rel="stylesheet" href="/css/external/simplemde.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- ScriptSheet -->
    <script defer src="/js/external/bootstrap.bundle.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-205478320-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-205478320-1');
    </script>

    <!-- Naver Analytics -->
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
        if(!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "f58bd4cb352eb0";
        if(window.wcs) {
            wcs_do();
        }
    </script>
</head>
<body class="pt-2">
<% IF !request.path_info.match('/write') %>
    <% INCLUDE 'layouts/header.tt' %>
<% END %>
<div id="root">
    <% content %>
</div>
</body>
</html>
