/** ROOT **/
* { font-family: 'Inconsolata', monospace; }
/**html { font-size: 90%; }**/

.grecaptcha-badge {
    display: none;
}

/** NAVI **/
#naviBar .text-end ul li button a {
    color: black;
    text-decoration: none;
}


/** LIST **/
.tags-wrapper > div { left: -200px; width: 180px; }
.tags a { text-decoration: none; color: black; }
.tags a:hover { text-decoration: underline; color: blue; }
.tags a.active { color: blue; }
.posts a:hover { text-decoration: none; color: black; }
#keyword { outline: none; }
.focus { border: 1px solid black !important; transition: all 0.125s ease-in 0s; }
#posts > a > p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }


/** WRITE **/
#postWrite { overflow: hidden; }
#postWrite > div > div > input::placeholder { font-weight: bold; }
#postWrite > div > div > input { height: 43px; outline: none; }
#postWrite > div > div:nth-child(2)  {width: 4rem; height: 6px; background: rgb(73, 80, 87); margin: 5px 0 10px 0; min-height: 6px; }
#postWrite > div > div:nth-child(3) > div > input::placeholder { font-size: 0.65em; }
#postWrite > div > div:nth-child(3) > div > input { width: 130px; outline: none; }
#postWrite > div > div:nth-child(3) { margin-bottom: 5px; }
.CodeMirror { border: 0; padding: 0px; overflow: hidden;}
.editor-toolbar { border: 0; padding: 0px; }
#postWriteBottom { z-index: 10; }


/** VIEW **/
#contentView img { max-width: -webkit-fill-available; }
#contentView pre {
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
#contentView hr { margin: 2.5rem 0 1.0rem 0; }
#contentView h3 {
    color: #163541;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
}
.doc-list {
    width: 220px;
    margin-left: 5rem;
    padding: 0.25rem 0.75rem;
    border-left: 2px solid rgb(233, 236, 239);
}
.doc-list a {
    text-decoration: none;
    color: rgb(134, 142, 150);
    font-size: 13px;
}

/** COMMENT **/
.comment-textarea {
    resize: none;
    height: 100px;
    width: 100%;
    padding: 1rem 1rem 1.5rem;
    border: 1px solid rgb(233, 236, 239);
    overflow-y: hidden;
    line-height: 1.6;
}

#commentBtn {
    outline: 0;
    border: 0;
}

.comment-input > div > div > input {
    width: 100px;
    height: 25px;
}
.comment-input > div > div > input::placeholder { font-size: 0.5em;}
.reply-container { background-color: rgba(0, 0, 0, 0.016); }
.reply-btn {
    width: 100%;
    background: white;
    color: rgb(18, 184, 134);
    cursor: pointer;
    height: 2.0rem;
    font-size: 0.5rem;
    border-radius: 4px;
    border: 1px solid rgb(18, 184, 134);
    display: flex;
    outline: none;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
}
.guest-reply {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(18, 184, 134);
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 10px;
}
.modify-comment { cursor: pointer }
.delete-comment { cursor: pointer }


/** SETTINGS **/
#appname, #git { height: 40px; line-height: 40px; }


/** MEDIA **/
@media (max-width: 1200px) {
    .container { max-width: 100%; }
    #naviBar .row > div { width: 100%; }
    #userProfile .row > div { width: 100%; }
    #postList .row > div { width: 100%; }
    #postList .row > div:nth-child(1) { margin-bottom: 30px; }
    #postList .row:nth-child(2) { margin: 0px !important; padding: 0px !important; }
    #postList .row:nth-child(2) > div { margin: 0px !important; padding: 0px !important; }
    #postView .row > div { width: 100%; }
    #postView .row:nth-child(2) div .row > div { width: 50%; }
    .tags-wrapper > div {
        left: 0;
        width: 100%;
        position: static !important;
    }
    #tagTitle { display: none; }
    .tags { overflow-x: auto; flex-direction: row; }
    .tags > div { text-align: center;}
    .tags div {
        margin: 0 3px 15px 3px;
        flex-shrink: 0;
        display: inline-block;
        padding: .35em .65em;
        font-size: .75em;
        font-weight: 700;
        line-height: 1;
        color: rgb(12, 166, 120);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
        background-color: rgb(241, 243, 245) !important;
        cursor: pointer;
    }
    .tags > div > a {
        font-size: 1em;
        padding: 5px;
    }
    #userSettings > div > div { width: 100%; }
    #userSettings > div > div > div:nth-child(1) { 
        border-bottom: 1px solid #dee2e6!important; 
        margin-bottom: 0px !important;
    }
    #userSettings > div > div > div > div:nth-child(1) {
        width: 100%;
    }
    #userSettings > div > div > div:nth-child(1) > div:nth-child(1) {
        border-right: 0px !important;
        margin-bottom: 50px;
    }
    .doc-list {
        display: none;
    }
}
