<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">로그인</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="email" class="col-form-label">이메일</label>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label">password</label>
            <input type="password" class="form-control" id="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="loginBtn">로그인</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <input type="hidden" id="returnUrl" value="<% return_url %>" />
      </div>
    </div>
  </div>
</div>

<script type="module" src="/js/login.js"></script>
