<div class="container mt-5" id="userSettings">
    <div class="row justify-content-center">
        <div class="col-10">
            <!-- 이미지, 닉네임, 설명 영역 -->
            <div class="row mb-5">
                <div class="col-3 border-end">
                    <div class="pt-3">
                        <div class="text-center">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="pt-2">
                            <div class="p-1"><button type="button" class="w-100 btn border-0 text-white bg-success fw-bold" id="imgUpload">이미지 업로드</button></div>
                            <div class="p-1"><button type="button" class="w-100 btn border-0 text-success bg-light fw-bold" id="imgDelete">이미지 제거</button></div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <h2 id="nickname"><% settings.nickname %></h2>
                        </div>
                        <div class="col">
                            <div class="text-muted" id="description"><% settings.description %></div>
                        </div>
                        <div class="col d-none" id="descriptionForm">
                            <div class="input-group p-1">
                                <input type="text" class="form-control" value="<% settings.nickname %>" data-key="nickname">
                            </div>
                            <div class="input-group p-1">
                                <input type="text" class="form-control" value="<% settings.description %>" data-key="description">
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button type="button" class="btn text-decoration-underline" id="modiDescription">수정</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 웹 타이틀 영역 -->
            <div class="row border-bottom pt-2 pb-2">
                <div class="col-3 fw-bold">
                    <h3>블로그 제목</h3>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" id="appname"><% settings.appname %></div>
                        <div class="col d-none" id="webTitleForm">
                            <div class="input-group">
                                <input type="text" class="form-control" value="<% settings.appname %>">
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button type="button" class="btn text-decoration-underline" id="modiTitle">수정</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 소셜 정보 영역 -->
            <div class="row border-bottom pt-2 pb-2">
                <div class="col-3 fw-bold">
                    <h3>소셜 정보</h3>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" id="git"><% settings.git %></div>
                        <div class="col d-none" id="socialForm">
                            <div class="input-group">
                                <input type="text" class="form-control" value="<% settings.git %>" data-key="git">
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button type="button" class="btn text-decoration-underline" id="modiSocial">수정</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 비밀번호 정보 영역 -->
            <div class="row border-bottom pt-2 pb-2">
                <div class="col-3 fw-bold">
                    <h3>비밀번호 변경</h3>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" id="pwd">********</div>
                        <div class="col d-none" id="passwordForm">
                            <div class="input-group p-1">
                                <input type="password" class="form-control" data-key="pwd" placeholder="비밀번호를 입력하세요.">
                            </div>
                            <div class="input-group p-1">
                                <input type="password" class="form-control" data-key="pwdCheck" placeholder="비밀번호를 확인해주세요.">
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button type="button" class="btn text-decoration-underline" id="modiPassword">수정</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/setting.js"></script>
